<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Jericho</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
</head>
<body>
    <div id="body" class="glas-content">
        <header class="header-content">
            <div class="navigation">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="main-content">
            <div class="content">
                <section>
                    @RenderBody()
                </section>
            </div>
        </div>
        <div class="footer-content">
            <footer>
                <div>
                    <p>&copy; @DateTime.Now.Year - Jericho</p>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
